/* A large file should have reference comments!! */
body {
  font-family: "Inter", sans-serif;
}

/* Header Section */

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.toolbar div {
  margin: 0 15px;
}

#welcomeText {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

/* Introduction Section */

.introduction {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url("./src/header/headerimg.png");
  background-size: cover;
  text-align: center;
  font-size: 30px;
}

.introduction h1 {
  margin-top: 74px;
  margin-bottom: 0;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline-start: 0;
  margin: 0 50px;
  max-width: 97px;
  align-self: center;
}

.socials li {
  margin: 0 10.5%;
}

.secondaryText {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 58px 24px 60px 24px;
}

.secondMainSentence {
  color: #36b37e;
  margin-top: 0;
  margin-bottom: 0;
}

/* Recent Works Section */

.recentWorks {
  font-weight: 700;
  font-style: normal;
  font-size: 120%;
}

.recentWorks h2 {
  justify-self: center;
  align-self: center;
  text-align: center;
  max-width: 100%;
}

.workCard {
  height: 474px;
  width: 327px;
}

.workTags {
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.workTags li {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 10px;
  background-color: #ebf0ee;
  border-radius: 9px;
}

.workInfo {
  margin: 0;
  width: 100%;
  height: 222px;
  background-color: white;
  border-radius: 9px;
  align-self: center;
}

.imagePlaceHolder {
  /* This is an add-on for the recent works cards */

  height: 252px;
  width: 100%;
}

#workName {
  color: #3a4a42;
}

/* Reusable */

/* Grid Creator */

.centeredGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 327px;
  grid-gap: 24px;
}

.centeredGrid h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #172b4d;
}

/* Card creator */

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #ebf0ee;
  border-radius: 9px;
  flex-direction: column;
  outline: #d0d9d4;
  outline-width: 3px;
  border-color: #d0d9d4;
  align-content: center;
  border: 1px solid #d0d9d4;
  justify-self: center;
  max-width: 369px;

  /* Animations */
  animation-name: appearance;
  animation-duration: 3s;
}

@keyframes appearance {
  from {
    opacity: 0;
    margin-bottom: 100%;
  }
}

.cardHandler {
  justify-items: center;
  align-items: center;
  animation-name: appearance;
}

.cardHeader {
  line-height: 32px;
  font-weight: 600;
  font-size: 24px;
}

/* Tags creator/handler */

.tagsHandler {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  width: 100%;
}

.arrow {
  margin-top: 64px;
}

/* Button */

.button {
  width: auto;
  height: 48px;
  background-color: #36b37f;
  border-width: 0;
  border-radius: 9px;
  transition-duration: 0.3s;
  font-weight: 500;
  font-size: 17px;
  color: white;
  justify-self: center;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* Button Methods */

button:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

.button:active {
  background-color: #008552;
}

/* Section header formatter */

.sectionHeader h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 0;
}

.sectionHeader h3 {
  font-weight: 400;
  color: #42526e;
  font-size: 20px;
}

/* Small vecor formatter */

#indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-bottom: 62px;
  margin-left: 46%;
}

/* About Me Section */

.aboutme {
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 28px;
  grid-auto-rows: 352px;
}

.sectionHeader.aboutmeHeader {
  background-image: url("./src/misc/aboutme-illustration-mobile.png");
  background-size: 100%;
  margin: 80px 0;
  background-repeat: no-repeat;
}

.aboutmeCard {
  justify-self: normal;
}

.aboutmeTags {
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  align-content: center;
  row-gap: 8px;
  column-gap: 8px;
  margin-bottom: 50px;
}

.aboutmeTags li {
  background-color: white;
  padding: 10px;
  border-radius: 9px;
  text-align: center;
  position: relative;
  bottom: -25px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer h5 {
  color: #42526e;
  font-size: 20px;
  line-height: 32px;
  font-style: normal;
  font-weight: normal;
}

/* Contact Me Section */
.contactme {
  background-image: url("./src/misc/illustration-contact-form.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  margin-top: 169px;
}

.contactme h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.contactme button {
  margin-bottom: 58px;
}

#contactmeForm {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
}

#contactmeForm * {
  height: 48px;
  max-width: 90%;
  border-radius: 4px;
  padding-left: 12px;
  font-family: "Inter", sans-serif;
}

::placeholder {
  color: #6b778c;
}

#userMessage {
  height: 114px !important;
}

.userinput {
  border: 1px solid #d0d9d4;
}

.userinput:focus {
  outline: none;
  border: 1px solid #60c095;
}

#sendContactMeForm {
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

@media screen and (min-width: 720px) {
  .aboutmeCard {
    align-self: normal;
  }

  .introduction {
    background-image: url("./src/header/headerimgDesktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 1000px;
  }

  #indicator {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .secondaryText {
    width: 63%;
  }

  .centeredGrid {
    grid-template-columns: 25% 25% 25%;
    grid-gap: 5%;
  }

  .contactme {
    grid-template-columns: 50% 50%;
    grid-gap: 1%;
  }

  #sendContactMeForm {
    align-self: flex-start;
  }

  .workCard {
    width: 100%;
  }
}
