.toolbar {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  flex-direction: row;
}

.toolbar div {
  margin: 0 15px;
}

.introduction {
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: column;
  background-color: white;
  background-image: url("./src/header/headerimg.png");
  background-size: cover;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline-start: 0px;
  margin: 0 50px;
}

.mainText {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.mainText p:first-child {
  margin-bottom: 0;
}

.secondaryText {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 58px 24px 60px 24px;
}

#secondMainSentence {
  color: #36b37e;
  margin-top: 0;
}

#welcomeText {
  font-weight: 600;
  text-decoration: none;
  color: black;
}
